@page
@model BugTracker.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Project Details";
}

<!--Project Details-->
<div class="row">
    <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3">
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-outline-secondary mb-4" asp-page="./Index">Back to Projects</a>
                    @{
                        if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <a class="btn btn-danger float-right" asp-page="./Delete" asp-route-id="@Model.Project.ProjectID">Delete</a>
                            <a class="btn btn-info float-right mr-3" asp-page="./Edit" asp-route-id="@Model.Project.ProjectID">Edit Project Details</a>
                        }
                    }
                    <h3 class="text-uppercase mb-0">
                        @Html.DisplayFor(model => model.Project.Name)
                    </h3>
                </div>

                <div class="card-body">
                    <table id="" class="display table table-striped table-bordered card-text">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Created By</th>
                                <th>Time Created</th>
                                <th>Unresolved Tickets</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Project.Description)</td>
                                <td>@Html.DisplayFor(model => model.Project.Creator)</td>
                                <td>@Html.DisplayFor(model => model.Project.CreationDate)</td>
                                <td>@Html.DisplayFor(model => model.Project.UnresolvedTickets)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Users on Project-->
        <div class="card">
            <div class="card-header">
                <h3 class="text-uppercase mb-0">User History on Project</h3>
            </div>
            <div class="card-body">
                <table id="" class=" display table table-striped table-bordered card-text">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Action</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var ticket in Model.Project.Tickets)
                            {
                                foreach (IdentityUser user in Model.Users)
                                {
                                    if (ticket.CreatorID == user.Id)
                                    {
                                        <tr>
                                            <td>@user.UserName</td>
                                            <td>@user.Email</td>
                                            <td>Created ticket: @ticket.Title</td>
                                            <td>@ticket.CreationDate</td>
                                        </tr>
                                    }
                                    else if (ticket.Developer.Id == user.Id)
                                    {
                                        <tr>
                                            <td>@user.UserName</td>
                                            <td>@user.Email</td>
                                            <td>User assigned to ticket: @ticket.Title</td>
                                            <td>@ticket.CreationDate</td>
                                        </tr>
                                    }
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Tickets-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-uppercase mb-0">
                    Tickets
                    @{
                        if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <a class="btn btn-primary float-right" asp-page="Tickets/Create" asp-route-id="@Model.Project.ProjectID">Create New Ticket</a>
                        }
                    }
                </h3>
            </div>
            <div class="card-body">
                <table id="" class="display table table-bordered table-hover card-text">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < Model.Project.Tickets.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a asp-page="./Tickets/Details" asp-route-id="@Model.Project.Tickets.ElementAt(i).ID">
                                            @Html.DisplayFor(model => model.Project.Tickets.ElementAt(i).Title)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Project.Tickets.ElementAt(i).Creator)
                                    </td>
                                    <td>
                                        @if (Model.Project.Tickets.ElementAt(i).Status == Status.Completed)
                                        {
                                            <div class="flex-grow-1 d-flex align-items-center">
                                                <div class="dot-sm mr-3 bg-green"></div>
                                                <div class="text">
                                                    <h6 class="mb-0">
                                                        @Html.DisplayFor(model => model.Project.Tickets.ElementAt(i).Status)
                                                    </h6>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.Project.Tickets.ElementAt(i).Status == Status.InProgress)
                                        {
                                            <div class="flex-grow-1 d-flex align-items-center">
                                                <div class="dot-sm mr-3 bg-blue"></div>
                                                <div class="text">
                                                    <h6 class="mb-0">
                                                        @Html.DisplayFor(model => model.Project.Tickets.ElementAt(i).Status)
                                                    </h6>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="flex-grow-1 d-flex align-items-center">
                                                <div class="dot-sm mr-3 bg-red"></div>
                                                <div class="text">
                                                    <h6 class="mb-0">
                                                        @Html.DisplayFor(model => model.Project.Tickets.ElementAt(i).Status)
                                                    </h6>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>